@import "partials/params";

* {
    box-sizing: border-box;
}

// Мой набор Миксинов 

@mixin cont {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1300px;
    max-width: 1300px;
}

@mixin font($fontColor: #000, $fontSize: 16px, $fontWeight: 400) {
    font-family: 'Roboto', sans-serif;
    font-size: $fontSize;
    line-height: 1.2;
    font-weight: $fontWeight;
    color: $fontColor;
}

@mixin font_main {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    line-height: 1.2;
    margin: 0px 0 70px;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

// Конец миксинов 

// Общие стили на всё 
body {
    @include font();
    background-color: #F6F7F9;
    color: #333;
}

p {
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: black;

}

section {

    .container {
        @include cont();
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

video {
    max-width: 100%;
    display: inline-block;
    vertical-align: baseline;
}

footer {
    background: #000000;
    color: #fff;
    display: block;
}

// Конец общих стилей

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    @include cont();
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-pills .nav-link.active {
    color: black;
    background-color: white;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
}

.nav-link {
    color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: transparent;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.dropdown-toggle {
    color: black;
    background-color: transparent;
}

.section {
    padding-bottom: 70px;
    // padding: 70px 0;
}

.container {
    @include cont();
}

.section-title {
    @include font_main;
}

.first {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;

    &__h {
        width: 50%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 5%;
    }

    &__h1 {
        font-size: 50px;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        line-height: 1.2;
        margin: 0px 0 70px;
        padding: 0;
    }

    &__p {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
}

.title-city {
    font-size: 36px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

// ______________________________________________________________________________
//Первый блок элементов


//Второй блок элементов

.programms__title {
    @include font($fontSize: 20px, $fontWeight: 600);
}

.proff-main {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    width: 100%;

    .proff {
        display: block;
        background-color: $beigeColor;
        width: 400px;
        // height: 200px;
        border-radius: 20px;
        text-decoration: none;
        padding: 30px 20px;
        margin: 0;
        margin-right: 25px;
        box-sizing: border-box;
        position: relative;

        p {
            margin: 0;
            color: black;
            position: relative;
            z-index: 10;
        }

        .proff__title {
            @include font($fontSize: 24px, $fontWeight: 500);
            margin-top: 5px;
            position: relative;
            z-index: 10;
        }

        .title__date {
            margin-top: 30px;
            position: relative;
            z-index: 10;
        }

        .title__readmore {
            @include font_main;
            margin: 0;
            position: relative;
            z-index: 10;
        }
    }

    .beige-block {
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #000;
            transition: .3s all ease-out;
            z-index: 1;
            box-sizing: border-box;
            border-radius: 20px;
        }

        &:hover {
            color: #fff;
            border: 0;
            box-shadow: $boxShadow;

            &:after {
                height: 100%;
                color: #fff;
            }

            p {
                color: #fff;
            }

            .proff__title {
                color: #fff;
            }
        }
    }

    .black-block {
        &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: $beigeColor;
            transition: .3s all ease-out;
            z-index: 1;
            box-sizing: border-box;
            border-radius: 20px;
        }

        &:hover {
            color: #000;
            border: 0;
            box-shadow: $boxShadow;

            &::after {
                height: 100%;
            }

            p {
                color: #000;
            }

            .proff__title {
                color: #000;
            }
        }

        background-color: black;

        p {
            color: #fff;
        }

        .proff__title {
            color: #fff;
        }
    }
}

.tasks__container {

    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .task {
        border: 1px solid black;
        border-radius: 20px;
        width: calc((100% - 20px) / 2);
        padding: 30px 20px;
        margin-bottom: 20px;
        position: relative;

        transition: .3s all;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            transition: .3s all ease-out;
            background: #D7F1EF;
            z-index: 1;
            box-sizing: border-box;
            border-radius: 20px;

        }

        &:hover:after,
        &:hover {
            height: 100%;
            border: 0;
            box-shadow: $boxShadow;
        }

        &:nth-child(1),
        &:nth-child(3) {
            margin-right: 20px;
        }

        &__p {
            z-index: 10;
            position: relative;
        }

        &__p-main {
            position: relative;
            @include font($fontSize: 24px, $fontWeight: 600);
            margin-bottom: 30px;
            z-index: 10;
        }

        &__pic {
            height: 70px;
            z-index: 10;
            position: relative;
        }
    }
}

.video {
    margin-bottom: 70px;
}

//Третий блок элементов

.section-title.section-title__rules {
    margin-bottom: 30px;
}

.section-title__rules--text {
    width: 45%;
    margin-bottom: 70px;
}

.rules {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .rule {
        width: calc((100% - 20px) / 2);
        border: 1px solid #959597;
        box-shadow: $boxShadow;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 30px 30px;
        display: flex;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: white;

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
            margin-right: 20px;
        }

        .rule__text {
            padding: 0 10px;
            box-sizing: border-box;

            .text-title {
                @include font($fontSize: 24px, $fontWeight: 500);
            }
        }

    }
}


.footer {
    margin-top: 50px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__img {}

    &__phone {
        color: white;
        text-decoration: none;
    }

    &__phone:hover {
        color: white;
        text-decoration: none;
    }

    &__contact {
        @include flex();
    }

    &__ul {
        @include flex();
        justify-content: space-between;
        list-style: none;
    }

    &__img {
        align-items: center;
        padding-left: 45px;
    }
}



// FAQ HTML 

.btn-link {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .25);
}

.btn-link:hover {
    color: black;
    text-decoration: underline;
}